:root {
    --blue: rgb(37, 53, 106);
    --lblue: rgb(134, 159, 241);
    --gold: rgb(235, 190, 57);
    --vdgrey: rgb(30, 30, 30);
    --dgrey: rgb(40, 40, 40);
    --mgrey: rgb(60, 60, 60);
    --lgrey: rgb(140, 140, 140);
    --vlgrey: rgb(200, 200, 200);
    
    --tdgrey: rgba(30, 30, 30, 0.75);
}

body {
    font-family: protipo, sans-serif;
    font-style: normal;
    color: var(--dgrey);
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    color: var(--lgrey);
}

a:hover{
    color: var(--blue);
}

.page-header {
    color: var(--blue);
}

.content {
    padding: 0;
    margin-left: 1px;
    margin-right: 1px;
}

.navbar {
    background-color: var(--blue);
    text-transform: uppercase;
}

.navbar-brand {
    font-weight: 700;
    color: var(--gold) !important;
    padding: 0 !important;
}

.nav-link {
    color: white;
    font-weight: 700;
    font-size: 14pt;
}

.nav-link:active {
    color: white;
}

.nav-link:hover {
    color: var(--gold);
}

.nav-link:hover:active {
    color: var(--gold);
}

.nav-link:focus {
    color: white;
}

.btn-primary {
    color: white;
    background-color: var(--blue);
    font-weight: 700;
    text-transform: uppercase;
    border-width: 2px;
    border-color: var(--blue);
}

.btn-primary:disabled {
    color: white;
    background-color: var(--blue);
    font-weight: 700;
    text-transform: uppercase;
    border-width: 2px;
    border-color: var(--blue);
    opacity: .5;
}

.btn-primary:focus {
    color: white;
    background-color: var(--blue);
    font-weight: 700;
    text-transform: uppercase;
    border-style: dashed;
    border-width: 2px;
    border-color: var(--lblue);
    box-shadow: none;
}

.btn-primary:active {
    color: var(--blue);
    background-color: var(--lgrey);
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: var(--blue);
}

.btn-primary:hover {
    color: var(--blue);
    background-color: var(--gold);
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: var(--blue);
    box-shadow: none;
}

.btn-primary:hover:active {
    color: var(--blue);
    background-color: var(--gold);
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: var(--blue);
    box-shadow: none;
}

.btn-secondary {
    color: white;
    background-color: var(--mgrey);
    font-weight: 700;
    text-transform: uppercase;
    border-width: 2px;
    border-color: var(--mgrey);
}

.btn-secondary:disabled {
    color: white;
    background-color: var(--mgrey);
    font-weight: 700;
    text-transform: uppercase;
    border-width: 2px;
    border-color: var(--mgrey);
    opacity: .5;
}

.btn-secondary:focus {
    color: white;
    background-color: var(--mgrey);
    font-weight: 700;
    text-transform: uppercase;
    border-style: dashed;
    border-width: 2px;
    border-color: var(--lgrey);
    box-shadow: none;
}

.btn-secondary:active {
    color: var(--vlgrey);
    background-color: var(--mgrey);
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: var(--vlgrey);
    box-shadow: 3px 3px var(--vlgrey);
}

.btn-secondary:hover {
    color: var(--mgrey);
    background-color: var(--vlgrey);
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: var(--mgrey);
    box-shadow: none;
}

.btn-secondary:hover:active {
    color: var(--mgrey);
    background-color: var(--vlgrey);
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: var(--mgrey);
    box-shadow: none;
}

.ddn-icon {
    color: white;
    font-size: 22pt;
    font-weight: 700;
    padding: none;
}

.front-image {
    width: 100%;
    z-index: -9999;
    position: fixed;
}

.overlay-box {
    float: right;
    width: 400px;
    height: 100%;
    padding: 1rem;
    background-color: var(--tdgrey);
    border-style: solid;
    border-radius: 10px;
    border-style: none;
}

.overlay-sheet {
    float: right;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--tdgrey);
    border-style: solid;
    border-radius: 10px;
    border-style: none;
}

.overlay-box-header {
    color: var(--blue);
}

.overlay-box-text {
    color: var(--white);
    font-size: 14pt;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.overlay-box-button {
    float: right;
}

.form-control {
    border-color: var(--mgrey);
    border-width: 2px;
    color: var(--mgrey);
    background-color: white;
    box-shadow: none;
}

.form-control:focus {
    border-color: var(--blue);
    border-width: 2px;
    color: var(--mgrey);
    background-color: var(--vlgrey);
    box-shadow: none;
}

.hide-border-left {
    border-left-style: none;
}

.hide-border-right {
    border-right-style: none;
}

.form-check-input {
    background-color: white !important;
    border-color: var(--mgrey) !important;
    border-width: 2px !important;
    box-shadow: none !important;
}

.form-check-input:hover {
    border-color: var(--blue) !important;
    border-width: 2px !important;
    box-shadow: none !important;
}

.form-check-input:focus {
    border-color: var(--blue) !important;
    border-width: 2px !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    color: white !important;
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
    border-width: 2px !important;
    box-shadow: none !important;
}

.form-select {
    border-color: var(--mgrey);
    border-width: 2px;
    color: var(--mgrey);
    background-color: var(--white);
    box-shadow: none;
}

.form-select:focus {
    border-color: var(--blue);
    color: var(--blue);
    background-color: var(--vlgrey);
    box-shadow: none;
}

.form-select option:focus{
    background-color: var(--blue) !important; 
}

.form-label-large{
    font-size: 14pt;
    color: var(--blue);
    font-weight: 700;
}